<%- include("partials/header.ejs") %>

<div>
   <form action="/posts" method="post">
        <label for="post">Create a Post</label>
        <textarea name="post" id="post" cols="40" rows="4"
        required>

        </textarea>
        <input type="submit" value="Criar Post">
    </form>
</div>





<%- include("partials/footer.ejs") %>