<%- include("partials/header.ejs") %>

<h1>Posts: </h1>

<ul>
    <% posts.forEach(post => { %>
      <li>
        <%= post.content %>
        <form action="/posts/delete/<%= post.id %>" method="post">
          <button type="submit">Excluir</button>
        </form>
      </li>
    <% }); %>
  </ul>


<%- include("partials/footer.ejs") %>